.light {
  background-color: #fafafa;
  /* Add other light mode styles */
}

.dark {
  background-color: #000000;
  /* Add other dark mode styles */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.counter {
  border: green 1px solid;
  border-radius: 10px;
  padding: 20px;
  background-color: lightseagreen;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.container-calc {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.comment {
  color: #c0c0c0;
}

.change__title {
  display: flex;
  gap: 20px;
  justify-content: center;
}
