body {
  background-color: var(--background-color);
  transition: background-color 200ms linear;
}

.app__container {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.counter {
  border: green 1px solid;
  border-radius: 10px;
  padding: 20px;
  background-color: lightseagreen;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.container-calc {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.comment {
  color: #c0c0c0;
}

.change__title {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.change__theme {
  display: flex;
  justify-content: center;
}

.buttons-theme {
  transition: 300ms ease-in-out;
}

.buttons-theme:active {
  background: #c0c0c0;
}
