::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html[data-theme="light"] {
  --background-color: #fafafa;
  * {
    color: #1c1e21;
  }

  .container__cards {
    a:hover {
      background-color: #4449500c;
    }
  }
  .nav__list {
    a:hover {
      background-color: #4449500c;
    }
  }
}

html[data-theme="dark"] {
  --background-color: #23272f;
  * {
    color: #fff;
  }

  .container__cards {
    a:hover {
      background-color: #4449509a;
    }
  }
  .nav__list {
    a:hover {
      background-color: #4449509a;
    }
  }
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

main {
  padding-top: 80px;
  max-width: 1180px;
  margin: 0 auto;
}

.comment {
  color: #8a8a8a;
}
