// ::-webkit-scrollbar {
//   display: none;
// }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html[data-theme="light"] {
  --background-color: #fafafa;
  * {
    color: #1c1e21;
  }
  .container__cards {
    a:hover {
      background-color: #4449500c;
    }
  }
  .nav__list {
    a:hover {
      background-color: #4449500c;
    }
  }
  .calculator__grid {
    button {
      color: #001e2b;
      background-color: #e4f6f6;
    }
    button:hover {
      filter: contrast(0.9);
      border-radius: 30%;
    }
    background-color: #f1ffff;
    .output {
      background-color: #d0eae9;
    }
    .delete {
      background-color: #c2e8ff;
    }
    .operations {
      background-color: #beeaf5;
    }
    .equally {
      background-color: #00fbfc;
      color: #001e2b;
    }
    .SVGRepo_iconCarrier {
      stroke: #001e2b;
    }
    .current__operand {
      color: #0f2727;
      font-size: 2.5rem;
    }
    .previous__operand {
      color: #0f2727;
      font-size: 1.5rem;
    }
  }
}

html[data-theme="dark"] {
  --background-color: #23272f;
  * {
    color: #fff;
  }
  .calculator__grid {
    button:hover {
      filter: brightness(1.3);
      border-radius: 30%;
    }
  }
  .container__cards {
    a:hover {
      background-color: #4449509a;
    }
  }
  .nav__list {
    a:hover {
      background-color: #4449509a;
    }
  }
  .current__operand {
    color: #d7e7e4;
    font-size: 2.5rem;
  }
  .previous__operand {
    color: #d7e7e4;
    font-size: 1.5rem;
  }
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

.container {
  padding-top: 80px;
  max-width: 1180px;
  margin: 0 auto;
}

.comment {
  color: #8a8a8a;
}
